<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="position" value="10,10"/>
    <add key="size" value="400,240"/>
    <add key="theme" value="0,0"/>
    <add key="ontop" value="false"/>
    <add key="tab" value="0"/>
    <add key="layout" value="1"/>
  </appSettings>
</configuration>